body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background: rgb(65, 65, 65);

}

h1{

    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10%;
    color: #fff;




}